/* Importando fonte padrão */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* Definindo padrões de estilo gerais */
* {
    padding: 0;
    margin: 0;
    font-family: 'inter', sans-serif;
}

/* Definindo cor para o cabeçalho (header) */
header {
    background-color: #ffffff;
    box-shadow: 0px 3px 10px #464646;
    top: 0;
    left: 0;
    width: 100%;
}

/* Centralizando navegação (nav) */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.625rem 6rem;
}

.nav-itens {
    display: flex;
    align-items: center;
}

/* Centralizando logo e definindo cor*/
.logo {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.logo h1 {
    color: rgb(0, 0, 0);
}

.logo img {
    width: 250px;
}

/* Estilizando lista de itens */
.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 16px;

}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
    display: flex;
    align-items: center;
}

/* Mudando cor dos elementos quando hover */
.nav-link:hover {
    color: blue;
}

.nav-link:hover .icon-arraw {
    border-top: 2px solid blue;
    border-left: 2px solid blue;
}

/* Estilizando e alinhando arrow de soluções */
.icon-arraw {
    position: absolute;
    height: 8px;
    width: 8px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(223deg);
}

.solucoes-icon {
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.solucoes-icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}


/* Alinhando submenu e ajustando visibilidade */
.menu {
    position: absolute;
    top: calc(30px + 30px);
    right: 10;
    width: 200px;
    min-height: 100px;
    background: #e8eaed;
    box-shadow: 0 8px 16px 0 #00000033;
    border-radius: 3px;
    opacity: 0;
    visibility: hidden;
}

.menu.ativo {
    padding-top: 5px;
    opacity: 1;
    visibility: visible;
    transition: 0.2s
}

.submenu {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.link-menu {
    text-decoration: none;
    font-size: 1.15rem;
    color: rgb(0, 0, 0);
    font-weight: 400;
    display: flex;
    align-items: center;
}

.menu ul li {
    padding: 15px 20px;
    transition: 0s;
}

.menu ul li:hover {
    background-color: #8ab8fc;
}


/* Estilizando botão de entrar do login */
.login-button a {
    border: none;
    background-color: #4157FF;
    padding: 12px 35px;
    border-radius: 30px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.login-button a:hover {
    background-color: #4167ff;
    transition: 0.3s;

}

/* Defindo tamanho e posicionamento do icon*/
.mobile-menu-icon .icon {
    width: 24px;
    transform: rotate(90deg);
}

/* Ocutando estilizações mobile */
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

/* Definindo quando as estilizações mobile devem aparecer */
@media screen and (max-width: 1140px) {

    /* Redefinindo espaçamento da nav */
    .nav-bar {

        padding: 1.5rem 4rem;
    }

    /* Ocutando nav-item e login-button*/
    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    /* Tirando estilizações pre definidas do button da class mobile-menu-icon */
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    /* Definindo posicionamto da ul */
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 1rem;
        list-style: none;
    }



    .mobile-menu .nav-item {
        display: block;
        padding-top: 1rem 2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
        text-align: center;
    }

    .open {
        display: block;
    }
}

/*Main*/
.main-section {
    background-color: #4157FF;
    color: white;
    height: 687.00px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.main-section img {
    max-width: 350px;
    width:60%;
}

#text-main {
    max-width: 380px;
}

#text-main h1 {
    font-family: 'inter', sans-serif;
    font-size: 43.5px;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

#text-main p {
    font-family: 'inter', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
}

#text-main button {
    font-family: 'DM Sans', sans-serif;
    border: none;
    background-color: #ffffff;
    padding: 15px 18px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

#text-main button:last-child {
    margin-left: 25px;
    background-color: #4157FF;
    color: white;
    padding: 14px 8px;
    border: solid 3px white;
    cursor: pointer;
}

#text-main button:hover {
    background-color: #dadced;
    transition: 0.3s;
}

#text-main button:last-child:hover {
    background-color: #4167ff;
    transition: 0.3s;
}


.main-section-secundary {
    background-color: aqua;
    height: 616px;
}

.main-section-third {
    background-color: blueviolet;
    height: 1023.2px;
}

.main-section-sucess {
    background-color: #DC143C;
    height: 507.2px;
}

.main-section-using {
    background-color: coral;
    height: 1687.2px;
}

.main-section-honor {
    background-color: rgb(80, 255, 100);
    height: 600.8px;
}

.main-section-maximize {
    background-color: rgb(255, 80, 208);
    height: 636.8px;
}

.main-section-movement {
    background-color: rgb(80, 255, 197);
    height: 488.450px;
}

.main-section-salesblazers {
    background-color: #FFFF00;
    height: 931.6px;
}

.main-section-keep {
    background-color: #B0E0E6;
    height: 859.13px;
}

.main-section-ready {
    background-color: #E6E6FA;
    height: 771.6px;
}

.main-section-top-footer {
    background-color: #EEE8AA;
    height: 438.09px;
}

footer {
    display: flex;
    height: 224px;
    background-color: #1B1F27;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

@media screen and (max-width: 1140px) {
    .main-section{
        flex-direction: column;
        gap: 10px;
    }

    #text-main{
        text-align: center;
    }

    #text-main h1{
        font-size: 35px;
    }

    #text-main p{
        font-size: 25px;
    }
}

@media screen and (max-width: 363px) {
    #text-main button:last-child{
        margin-left: 0;
    }
}

@media screen and (max-width: 420px) {
    .logo img{
        width: 150px;
    }
    .nav-bar{
        padding: 10px 10px;
    }
    .logo{
        width:fit-content;
    }
}