* {
    margin: 0;
    padding: 0;
    color: #080707;
    line-height: 1.5;
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

:root {
    --color-blue-background: #4157FF;
    --color-white-background:#ffffff;
    --color-black-background: #000000;
}

a {
    color: #032d60;
    text-decoration: none;
}

a:hover, .dropdown-menu a:hover {
    color:  var(--color-blue-background);
}

/*========================================================================================================================
                                                            MENU
==========================================================================================================================*/

.header-container {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: grid;
    height: 72px;
    position: fixed;
    min-width: 60px;
    min-height: 51px;
    align-items: center;
    background-color: var(--color-white-background);
    border-top: 1px solid rgd(229, 229, 299);
    box-shadow: rgba(24, 24, 24, 0.08) 0px 0px 2px, rgba(24, 24, 24, 0.16) 0px 2px 4px 1px;
}

.login-button {
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    padding: 8px 24px;
    border-radius: 4px;
    white-space: nowrap;
    border: solid  var(--color-blue-background);
    background-color:  var(--color-blue-background);
}

.login-button:hover {
    border: solid #023248;
    background-color: #023248;
}

.login-button a:hover, .free-trial a:hover {
    color: white;
}

.nav-links-title {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    margin-right: 8px;
    align-items: center;
    justify-content: space-between;
}

.nav-links-title:hover .icon-arrow {
    border-color: #0176d3;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0px 24px 0 24px;
}

.nav-links>li {
    padding: 12px 16px 12px 16px;
}

.mobile-menu .navar-nav {
    width: 163px;
    position: absolute;
}

.mobile-menu {
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 999;
    display: none;
    position: absolute;
    background-color: var(--color-white-background);
}

.nav-logo {
    width: auto;
    height: 32px;
    display: flex;
    margin-bottom: 3px;
    align-items: center;
}

.nav-bar {
    height: 72px;
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
}

.nav-itens {
    width: 1400px;
    display: flex;
    align-items: center;
}

.img-mobile {
    width: 45px;
    height: 31.3px;
    padding-right: 16px;
}

/* .nav-logo .img-desktop {
    width: 45px;
    padding-right: 16px; 
} */


.img-desktop img {
    display: flex;
    align-items: center;
    opacity: 0;
    transition: opacity 0.35s ease-in-out 0s;
}


.img-desktop {
    transition: max-width 0.25s ease-in-out 0s, padding-right 0.25s ease-in-out 0s;
}

.title-logo, .title-logo-mobile {
    font-size: 24px;
    font-weight: bold;
    color: #032d60;
    text-align: center;
}

.title-logo:hover {
    cursor: pointer;
    color: #0176d3;
}

.dropdown-menu {
    top: 60px;
    opacity: 0;
    /*left: 230px;*/
    /* width: 100%; */
    display: flex;
    margin-top: 12px;
    /* height: 295.200px; */
    position: absolute;
    visibility: hidden;
    border-radius: 16px;
    box-sizing: border-box;
    background-color: white;
    padding: 24px 40px 40px 40px;
    border: 1px solid rgba(24, 24, 24, 0.04);
    box-shadow: rgba(24, 24, 24, 0.08) 0px 12px 24px -4px;
}

.dropdown-menu.ativo {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    display: block;
    color: black;
    font-size: 18px;
    color: #032d60;
    font-weight: 600;
    line-height: 28px;
}

.dropdown-left, .dropdown-right {
    opacity: 1;
    top: 3.4rem;
    pointer-events: initial;
    transition: top .3s;
}

.dropdown-right {
    margin-top: 24px;
    padding-right: 20px;
}

.dropdown-menu-mobile {
    display: none;
}

.dropdown, .property-logo, .logo {
    cursor: pointer;
}

.nav-item:focus, .nav-item-first:focus {
    background-color: #d8edff;
}

.nav-item {
    margin-top: 12px;
}

.nav-bar:hover .icon-arrow-mobile, .nav-bar:hover .title-logo-mobile,
.dropdown:hover .icon-arrow, .dropdown:hover .nav-links-title {
    color:  var(--color-blue-background);
    border-color:  var(--color-blue-background);
}

.icon {
    margin-left: 8px;
    margin-bottom: 12px;
    align-items: center;
}

.icon button {
    width: 98%;
    display: flex;
    border: none;
    cursor: pointer;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
}

.icon-arrow {
    height: 8px;
    width: 8px;
    display: block;
    cursor: pointer;
    position: absolute;
    transform: rotate(223deg);
    border-top: 2px solid #032d60;
    border-left: 2px solid #032d60;
    position: absolute;
}

.div-icon-arrow {
    width: 10px;
    height: 10px;
    position: sticky;
    margin-bottom: 15px;
}

.icon-arrow-mobile {
    width: 10px;
    height: 10px;
    display: block;
    cursor: pointer;
    position: absolute;
    align-items: center;
    transform: rotate(223deg);
    border-top: 2px solid #032d60;
    border-left: 2px solid #032d60;
}

.box-arrow-space {
    top: 60px;
    height: 12px;
    display: none;
    width: 165.462;
    position: absolute;
    align-items: center;
}

.box-arrow-space.ativo {
    display: block;
}

.box-arrow-space::after {
    top: 4px;
    width: 12px;
    height: 12px;
    content: '';
    display: flex;
    position: absolute;
    align-items: center;
    background: transparent;
    transform: rotate(45deg);
    left: 65.912px;
    border: 2px solid rgba(24, 24, 24, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.arrow-mobile {
    display: none;
    margin-bottom: 5px;
}

.arrow-mobile button {
    border: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: transparent;
}

.logo {
    display: flex;
    align-items: center;
    width: 100%;
}

.div-button {
    bottom: 0;
    z-index: 1000;
    position: sticky;
    background-color: var(--color-white-background);
    padding: 24px 24px 32px 24px;
}

.div-button .login-button {
    width: 100%;
}

main {
    background-color: var(--color-white-background);;
}

.teste {
    width: 100%;
    height: 20%;
    background-color: #000000;
}

.property-logo-mobile {
    bottom: 5px;
    width: 50px;
    position: absolute;
}

.property-logo {
    bottom: 10px;
    width: 50px;
    position: absolute;
}

@media screen and (max-width: 1500px) {
    .nav-links {
        display: none;
        overflow-y: auto;
        max-height: calc(94vh - 200px);
        margin: 7.5px 0px 7.5px 16px;
    }

    .div-button-desktop {
        display: none;
    }

    .arrow-mobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .img-sales-mobile, .icon, .img-mobile {
        display: flex;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
    }

    .mobile-menu .nav-item {
        display: block;
        padding: 0 0 0 1rem;
    }

    .mobile-menu .div-button-desktop {
        display: block;
        padding: 1.5rem 2rem 1rem 2rem;
    }

    .mobile-menu .div-button-desktop button {
        width: 100%;
    }

    .open {
        display: block;
    }

    .dropdown-menu {
        display: flex;
        align-items: center;
    }



    .dropdown-menu-mobile a {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }

    .dropdown-left-right .nav-item {
        margin: 12px 0 12px 0;
    }

    .dropdown-left-right {
        list-style: none;
    }

    .header-container, .nav-bar {
        height: 56px;
    }

    .title-logo-mobile {
        font-size: 16px;
    }

    .login-button {
        padding: 12px 24px;
    }

    .nav-logo {
        display: none;
        margin-bottom: 0px;
        width: 246px;
    }

    .icon {
        margin-bottom: 0;
        margin-left: 0;
    }

    .img-mobile, .img-desktop {
        max-width: 0;
        padding-right: 0;
        transition: max-width 0.25s ease-in-out 0s, padding-right 0.25s ease-in-out 0s;
    }

    .img-mobile img, .img-desktop img {
        opacity: 0;
        transition: opacity 0.35s ease-in-out 0s;
    }

    .imgStyle {
        max-width: 45px;
        padding-right: 16px;
    }

    .nav-itens{
        width: auto;
    }

    .nav-bar {
        margin-left: 60px;
        margin-right: 60px;
    }
}

/*wave*/
#wave-transition {
    margin-top: -1px;
    margin-bottom: -100px;
    height: 200px;
    background: #F2F2F2;
    clip-path: polygon(100% 0%, 0% 0% , 0.00% 54.63%, 2.00% 54.55%, 4.00% 54.32%, 6.00% 53.94%, 8.00% 53.41%, 10.00% 52.75%, 12.00% 51.96%, 14.00% 51.06%, 16.00% 50.05%, 18.00% 48.97%, 20.00% 47.82%, 22.00% 46.62%, 24.00% 45.39%, 26.00% 44.16%, 28.00% 42.93%, 30.00% 41.73%, 32.00% 40.58%, 34.00% 39.50%, 36.00% 38.50%, 38.00% 37.60%, 40.00% 36.81%, 42.00% 36.14%, 44.00% 35.62%, 46.00% 35.23%, 48.00% 35.00%, 50.00% 34.93%, 52.00% 35.00%, 54.00% 35.23%, 56.00% 35.62%, 58.00% 36.14%, 60.00% 36.81%, 62.00% 37.60%, 64.00% 38.50%, 66.00% 39.50%, 68.00% 40.58%, 70.00% 41.73%, 72.00% 42.93%, 74.00% 44.16%, 76.00% 45.39%, 78.00% 46.62%, 80.00% 47.82%, 82.00% 48.97%, 84.00% 50.05%, 86.00% 51.06%, 88.00% 51.96%, 90.00% 52.75%, 92.00% 53.41%, 94.00% 53.94%, 96.00% 54.32%, 98.00% 54.55%, 100.00% 54.63%);

}

/*========================================================================================================================
                                                         MAIN
==========================================================================================================================*/
.main-section {
    background-color:#F2F2F2;
    color: white;
    height: 687.00px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    width: 100%;
}

.main-section img {
    position: relative;
  top:50px;
    z-index: 1000;
    max-width: 600px;
    width: 60%;
}

#text-main {
    max-width: 700px;
}

#text-main h1 {
    font-family: 'inter', sans-serif;
    font-size: 4.5rem;
    line-height: 60px;
    font-weight: 800;
    margin-bottom: 20px;
    color: var(--color-black-background);
}

#text-main p {
    font-family: 'inter', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    color: var(--color-black-background);
}

#text-main button {
    font-family: 'DM Sans', sans-serif;
    border: none;
    background-color: var(--color-white-background);
    padding: 15px 18px;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

#text-main button:last-child {
    margin-left: 25px;
    background-color:  var(--color-blue-background);
    color: white;
    padding: 14px 8px;
    border: solid 3px white;
    cursor: pointer;
}

#text-main button:hover {
    background-color: #dadced;
    transition: 0.3s;
}

#text-main button:last-child:hover {
    background-color: #4167ff;
    transition: 0.3s;
}

/* config pages*/

/* .main-section-secundary {
    background-color: var(--color-white-background);
    height: 616px;
}

.main-section-third {
    background-color: var(--color-white-background);
    height: 616px;
}

.main-section-fourth {
    background-color:  var(--color-white-background);
    height: 725.2px;
}

.main-section-fifth {
    background-color: var(--color-white-background);
    height: 800.2px;
}

.main-section-sixth {
    background-color:  var(--color-blue-background);
    height: 600.8px;
}

.main-section-seventh {
    background-color: var(--color-white-background);
    height: 636.8px;
}

.main-section-eighth {
    background-color:  var(--color-blue-background);
    height: 488.450px;
} */


main section {
    padding: 100px;
}

/*
.main-section-salesblazers {
    background-color: #FFFF00;
    height: 931.6px;
}

.main-section-keep {
    background-color: #B0E0E6;
    height: 859.13px;
}

.main-section-ready {
    background-color: #E6E6FA;
    height: 771.6px;
}

.main-section-top-footer {
    background-color: #EEE8AA;
    height: 438.09px;
}
*/

footer {
    display: flex;
    height: 224px;
    background-color: #1B1F27;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

@media screen and (max-width: 1140px) {
    .main-section {
        flex-direction: column;
        gap: 10px;
    }

    #text-main {
        text-align: center;
    }

    #text-main h1 {
        font-size: 35px;
    }

    #text-main p {
        font-size: 25px;
    }
}

@media screen and (max-width: 363px) {
    #text-main button:last-child {
        margin-left: 0;
    }
}

@media screen and (max-width: 420px) {
    .logo img {
        width: 150px;
    }

    .nav-bar {
        padding: 10px 10px;
    }

    .logo {
        width: fit-content;
    }
}



/*Bloco 2*/


.main-section-secundary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.content-secundary {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 80%;
}

/*!!!!CORRIGIR!!!!*/

@media screen and (min-width: 1500px) {
    .content-secundary {
        max-width: 1650px;
    }
}

#text-secundary{
    width: 1450px;
}

#text-secundary p {
    margin-bottom: 20px;
}

#text-secundary h1 {
    font-weight: 800;
    font-size: 35.5px;
    font-weight: 700;
}


/*Carrossel 1 - Bloco 2*/

.carousel {
    max-width: 85%;
    position: relative;
}

.carousel i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.carousel i img {
    margin: 12px 17px 12px;
}

.carousel i:active {
    transform: translateY(-50%) scale(0.85);
}

.carousel i:first-child {
    left: -80px;
}

.carousel i:last-child {
    right: -80px;
}

.carousel .cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 40px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 50px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}



.cards::-webkit-scrollbar {
    display: none;
}

.cards.no-transition {
    scroll-behavior: auto;
}

.cards.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.cards.dragging .card {
    cursor: grab;
    user-select: none;
}

.cards :where(.card, .img) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards .card {
    scroll-snap-align: start;
    height: 320px;
    max-width: 400px;
    list-style: none;
    background: #F3F5F8;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#notification {
    margin-bottom: 75px
}

.cards .card p {
    width: 360px;
}


/*Bloco 3*/

.main-section-third {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center
}

.content-third {
    display: flex;
    align-items: center;
    gap: 150px;
}

#text-third {
    max-width: 908px;
}

#text-third h1 {
    line-height: 60px;
    font-size: 48.5px;
    font-weight: 700;
}

#text-third p {
    width: 650px;
    margin-top: 30px;
    font-size: 19px;
    /* font-weight: 600; */
}

.content-third img {
    max-width: 580px;
    width: 50%;
}


/*Bloco 4*/

.main-section-fourth {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center
}

.main-section-fourth * {
    color: var(--color-black-background);
}

.content-fourth {
    display: flex;
    align-items: center;
    gap: 150px;
}


#text-fourth {
    max-width: 780px;

}

#text-fourth h1 {
    line-height: 60px;
    font-size: 48.5px;
    font-weight: 700;
}

#text-fourth p {
    margin-top: 30px;
    font-size: 20px;
    /* font-weight: 600; */
}

.content-fourth img {
    max-width: 580px;
    width: 50%;
}


/*Bloco 5*/

.main-section-fifth {
    display: flex;
    align-items: center;
    justify-content: center
}


.main-section-fifth img {
    width: 200px;
}

.content-fifth {
    display: flex;
    align-items: center;
    gap: 200px;
}


#text-fifth {
    max-width: 780px;

}

#text-fifth h1 {
    line-height: 60px;
    font-size: 45.5px;
    font-weight: 700;
}

#text-fifth p {
    margin-top: 20px;
    font-size: 20px;
    /* font-weight: 600; */
}

.content-fifth img {
    max-width: 580px;
    width: 50%;
}



/*Bloco 6*/

.main-section-sixth {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.content-sixth{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    width: 100%;
    height: 100%;
}

#img-profissional-2 {
    max-width: 358px;
}


#text-sixth {
    margin: 20px 0 0 0;
    display: flex;
    align-items: start;
    width: 1200px;
    max-width: 1900px;
    flex-direction: column;
}

#text-sixth h1{
    font-size: 40.5px;
    font-weight: 700;
    line-height: 55px;
}

#text-sixth * {
    color: var(--color-black-background);;
}

/*Carrossel 2 - Bloco 6*/


.carousel-2 {
    max-width: 40%;
    position: relative;
}

.carousel-2 i {
    top: 50%;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 1.25rem;
    position: absolute;
    text-align: center;
    line-height: 50px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}

.carousel-2 i img {
    margin: 12px 17px 12px;
}

.carousel-2 i:active {
    transform: translateY(-50%) scale(0.85);
}

.carousel-2 i:first-child {
    left: -80px;
}

.carousel-2 i:last-child {
    right: -80px;
}

.carousel-2 .cards {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 2) - 20px);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 40px;
    border-radius: 8px;
    scroll-behavior: smooth;
    scrollbar-width: none;
}


.carousel-2 .cards .card {
    scroll-snap-align: start;
    height: 345px;
    max-width: 400px;
    list-style: none;
    background: #ffffff00;
    cursor: pointer;
    padding-bottom: 15px;
    flex-direction: column;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.carousel-2 .cards .card img {
    max-width: 320px;
}


.carousel-2 .cards .card p {
    width: 360px;
    color: var(--color-black-background);;
    text-align: center;
}




/*Bloco 7*/

.main-section-seventh {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}



.content-seventh {
    background-color: #F3F5F8;
    border-radius: 10px;
    padding: 35px 55px;
}

.content-seventh h1 {
    margin-bottom: 80px;
    font-size: 39.5px;
    font-weight: 700;
}

.content-seventh img {
    max-width: 1080px;
    width: 100%;
}



/*Bloco 8*/

.main-section-eighth {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.main-section-eighth * {
    color: var(--color-black-background);;
}


.main-section-eighth img {
    width: 20%;
}



.content-eighth {
    display: flex;
    align-items: center;
    gap: 150px;
}


#text-eighth{
    max-width: 780px;
}

#text-eighth h1 {
    line-height: 60px;
    font-size: 40.5px;
    font-weight: 700;
}

#text-eighth p {
    margin-top: 10px;
    font-size: 20px;
    /* font-weight: 600; */
}


#text-eighth img {
    margin: 25px 90px 0px 0px;
    max-width: 150px;
    width: 30%;
}



.content-eighth img {
    max-width: 580px;
    width: 50%;
   
}

.content-eighth .dispositivo{

    transform: scaleX(-1);
}




/*Delimitador de tamanho maximo de todos os blocos*/

.container {
    max-width: 1900px;
}


@media screen and (max-width: 900px) {
    
    /*Bloco 2 - Carrossel*/
    .carousel .cards {
        grid-auto-columns: calc((100% / 2) - 9px);
    }

    /*Bloco 6*/
    .main-section-sixth {
        align-items: center;
        height: 600px;
    }

    #text-sixth {
        margin: 1.5% 0% 0% 0%;
        width: auto;
    }

    #img-profissional-2 {
        display: none;
    }


    /*Bloco 6 - Carrossel*/
    .carousel-2 .cards {
        grid-auto-columns: calc((100% / 1) - 9px);
    }


    /*Bloco 8*/
    #text-eighth{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
     }

}

@media screen and (max-width: 1500px) {

    /*Bloco 2*/
    #text-secundary {
        margin: 0px 50px 20px;
    }

    #text-secundary{
        width: auto;
    }


    /*Bloco 3*/
    .content-third {
        gap: 0px;
        flex-direction: column;
    }

    #text-third h1 {
        font-size: 38px;
        line-height: 45px
    }

    #text-third p {
        margin-top: 10px;
        width: auto;
    }

    .main-section-third {
        height: 800px;
        align-items: flex-start;
    }



    /*Bloco 4*/

    .content-fourth {
        gap: 0px;
        flex-direction: column;
    }

    #text-fourth h1 {
        font-size: 38px;
        line-height: 45px
    }

    #text-fourth p {
        margin: 20px 0 15px;
    }



    /*Bloco 5*/

    .content-fifth {
        gap: 0px;
        flex-direction: column;
    }

    #text-fifth h1 {
        font-size: 38px;
        line-height: 45px
    }

    #text-fifth p {
        margin: 20px 0 15px;
    }


    /*Bloco 6*/


    #text-sixth{
        width: auto;
    }


    .content-sixth{
        gap: 10px;
        flex-direction: column;
    }

    #img-profissional-2 {
        width: 10%;
    }

    /*Carrossel - Bloco 6*/
    .cards .card p {
        width: 200px;
    }

    .carousel i:first-child {
        left: -0px;
    }

    .carousel i:last-child {
        right: -0px;
    }

    .carousel-2 i:first-child {
        left: -0px;
    }

    .carousel-2 i:last-child {
        right: -0px;
    }

    .carousel .card img {
        width: 80%;
    }

    .carousel-2 .card img {
        width: 90%;
    }

    .carousel-2 {
        max-width: 60%;
    }

    .carousel-2 .cards .card {
        height: 285px;
    }

    /*Bloco 8*/

    .content-eighth {
        display: flex;
        align-items: center;
        flex-direction: column-reverse;
        gap: 0px;
    }

    #text-eighth img {
        margin: 0px;
        min-width: 150px;
    }



}

@media screen and (max-width: 600px) {


    /*Bloco 2*/

    .main-section-secundary {
        min-height: 800px;
    }

    #text-secundary {
        margin: 0px 0px 10px;
    }

    /*Carrossel - Bloco 2*/

    .carousel .cards {
        grid-auto-columns: 100%;
    }

    .carousel-2 .cards {
        grid-auto-columns: 100%;
    }

    .carousel-2 {
        max-width: 80%;
    }


    /*Bloco 3*/


    .main-section-third {
        height: fit-content;
        align-items: flex-start;
    }

    .content-third img {
        display: none;
    }


}
/*========================================================================================================================
                                                    CADASTRO
==========================================================================================================================*/

/* Left side - Forms */
.general-container {
    position: relative;
}

.principal-container {
    width: 100%;
    height: 493.33px;
    max-width: 750px;
    background: #fbfdfe;
    border-radius: 8px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    overflow: hidden;
    
    display: grid;
    z-index: 1000;
}

.form-container {
    background: #fbfdfe;
    max-width: 437.5px;
    padding: 48px 40px 36px;
}

form {
    height: 100%;
    width: 100%;
}

.form-group {
    width: 357.500px;
    height: 62px;
    margin-bottom: 1rem;
    position: relative;
}

.form-group input {
    width: 100%;
    height: calc(2.25rem + 2px);
    border: 1px solid #e7f0f6;
    padding: 0.375rem 0.75rem;
    box-sizing: border-box;
    border-radius: 0.25rem;
    outline: none;
    font-size: 1rem;  
}

.form-group label {
    font-size: 15px;
    font-weight: 500;
}

.form-group input:focus {
    box-shadow: 0px 0px 0px 3px #B6D6F2;
    border: 1px solid #7EBCF2; 
}

.form-group input::placeholder {
    color: #c3c8cb; 
    font-size: 14px;
}

.class-label {
    color: #41494f;
}

.title {
    color: #202c3a; 
    font-size: 22px;
    height: 29.33px;
    margin: 16px 0;
    line-height: 1.3333;
}
.continue-button {
    display: flex;
    justify-content: flex-end;
}

.btn {
    position: relative;
    background:  var(--color-blue-background);
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: 1px solid transparent;
    text-transform: uppercase;
    color: white;
    font-size: .75rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.15px;
}

.continue-button button:focus {
    box-shadow: 0px 0px 0px 3px #B6D6F2;
}

/* Right side - logos */
.right-logo-div {
    background: #202c3a;
}

.text-right {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
}

.right-logo-div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-logo {
    width: 90px;
    height: 93.59px;
}

.img-nome {
    width:105px;
    height: 27.64px;
    margin-top: 25px;
}

.logos h1{
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

/* Bottom side - privacty and terms*/
.politics-term-div {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end
}

.politics-term-div a {
    text-decoration: none;
    font-size: 12px;
    color: white;
}

.term-div {
    margin-left: 20px;
}

.main-cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--color-blue-background);
}